* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: black;
	padding: auto;
	margin: 0%;
}
.fa-solid {
	color: #d9ba85;
}

.logo {
	text-decoration: none;
	color: white;
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
}
.navbar {
	background: rgba(12, 11, 9, 0.6);
	border-bottom: 1px solid rgba(12, 11, 9, 0.6);
	transition: all 0.5s;
	z-index: 997;
	padding: 15px 0;
	top: 40px;
	font-family: "Open Sans", sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	color: #fff;
	white-space: nowrap;
	transition: 0.3s;
	font-size: 14px;
}

.topbar {
	font-family: "Open Sans", sans-serif;
	margin-bottom: 5px;
	display: flex;
	padding: 5px;
}
.landing {
	background-image: url(/restaurant-2618315_1920.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
	font-family: "Poppins", sans-serif;
}
h1 span {
	color: #cda45e;
}
h2 {
	color: white;
	font-size: 22px;
	font-family: "Playfair Display", serif;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 25%;
}

.btn {
	margin-top: 20px;
}
a:hover {
	background-color: #cda45e;
}
.btn-menu,
#hero .btn-book {
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
	transition: 0.3s;
	line-height: 1;
	color: white;
	border: 2px solid #cda45e;
}
.btn-book {
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
	transition: 0.3s;
	line-height: 1;
	color: white;
	border: 2px solid #cda45e;
}
#about {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(/coffee-424763_1920.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-size: 18px;
	font-family: "Playfair Display", serif;
}
.about .container ul li {
	padding-bottom: 10px;
}
.about .container h3 {
	font-weight: 600;
	font-size: 26px;
}
.aboutimg {
	margin-left: 10%;
	max-width: 100%;
	border: 10px solid rgba(8, 1, 1, 0.952);
}
.about .container ul i {
	font-size: 20px;
	padding-right: 4px;
	color: #cda45e;
}
.row2 {
	display: flex;
	flex-wrap: wrap;
}

.whyus {
	padding: 60px 0;
	background-color: #0c0b09;
}
#titlewhy {
	margin-left: 15%;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #aaaaaa;
	font-family: "Poppins", sans-serif;
}

#subtitle1 {
	margin-left: 15%;
	padding-bottom: 40px;
	font-size: 36px;
	font-weight: 700;
	font-family: "Playfair Display", serif;
	color: #cda45e;
}
.row3 {
	display: flex;
	padding: 0px 89px;
}
.box {
	padding: 50px 30px;
}
#menu {
	padding: 50px;
	background-color: #1a1814;
}
#menu-filters li .filter-active {
	color: #cda45e;
}
.menu #menu-filters li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px 10px 12px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	margin-bottom: 10px;
	transition: all ease-in-out 0.3s;
	border-radius: 50px;
	font-family: "Playfair Display", serif;
}
.menu .menu-content {
	margin-left: 85px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.menu .menu-ingredients {
	margin-left: 85px;
	font-style: italic;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	color: rgba(255, 255, 255, 0.5);
}
#specials {
	padding: 50px;
	background-color: #0c0b09;
}
#events {
	padding: 50px;
	background-color: #0c0b09;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(/pexels-isaac-cedercrantz-5669840.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
#book-a-table {
	padding: 50px;
	background-color: #0c0b09;
}
#testimonials {
	padding: 50px;
	background-color: #1a1814;
}
#chefs {
	padding: 50px;
	background-color: #0c0b09;
}
#gallery {
	padding: 50px;
	background-color: #0c0b09;
}
#contact {
	padding: 50px;
	background-color: #0c0b09;
}
.row4 {
	display: flex;
}